.im_fixed_nav, .im_fixed_nav .scroll_fix_wrap {
    overflow-x: hidden;
}
body {
    background: #fff;
    color: #000;
    margin: 0px;
    padding: 0px;
    direction: ltr;
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
    font-size: 11px;}