body {
    font-family: 'Source Sans Pro', 'Lucida Grande', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: -0.03em;
}
body {
    margin: 0;
    padding: 0;
    background: #fff;
    color: rgba(0,0,0,0.8);
}